*{
    margin: 0 auto;
    box-sizing: border-box;
 }
 #khung{
    margin-top: 10px; 
    width:900px;
    border:1px solid blue;
    padding: 10px;
    height: 650px;
 }
 h1{
    text-align: left;
    color: black;
 }
 p{
    text-align: justify;
    /* font-size: 18px;
    line-height: 1.5; */
 }